<div class="w-full max-w-sm bg-gray-50 border border-gray-400 rounded-lg shadow-sm dark:bg-gray-950 dark:border-gray-700">
    <picture>
        <img class="h-80 mt-8 mb-5 rounded-t-lg w-full object-contain object-center" [src]="book.image" alt="product image" />
    </picture>
    <div class="px-5 pb-5">
        <a href="#">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{book.name}}</h5>
        </a>
        <div class="flex items-center py-2">
            @if (book.stock === 1){
                <span class="text-sm text-gray-900 dark:text-white">¡Solo queda {{book.stock}} unidad disponible!</span>
            }
            @else if (1 < book.stock && book.stock <= 5){
                <span class="text-sm text-gray-900 dark:text-white">¡Quedan {{book.stock}} unidades disponibles!</span>
            }
            @else {
                <span class="text-sm text-gray-900 dark:text-white">{{book.stock}} unidades disponibles</span>
            }
        </div>
        <div class="flex items-center justify-between gap-2">
            <span class="text-lg font-bold text-gray-900 dark:text-white">S/{{book.price}}</span>
            <div class="flex gap-2">
                <button [routerLink]="['/book', book.id]" class="text-white dark:text-black bg-gray-700 hover:bg-black focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs px-3 py-1.5 text-center dark:bg-white dark:hover:bg-gray-200 dark:focus:ring-gray-200">
                    Detalles
                </button>
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs px-3 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="add($event)">
                    Añadir
                </button>
            </div>
        </div>
    </div>
</div>
