<nav class="bg-white dark:bg-black">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 px-10">
  <a (click)="refresh()" routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://w7.pngwing.com/pngs/360/232/png-transparent-computer-icons-the-book-thief-book-angle-rectangle-curriculum.png" class="h-8 rounded-md" alt="El Buen Librero Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">El Buen Librero</span>
  </a>
  <div class="hidden md:block">
  <form [formGroup]="searchForm" (ngSubmit)="onEnter()">
    <div class="flex md:order-1">
      <div>
        <div class="mr-2">
          <select id="doc-type" formControlName="docType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          <option value="I">ISBN</option>
          <option value="N">Nombre</option>
          </select>
        </div>
      </div>
      <div class="relative hidden md:block">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input formControlName="searchTerm" type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-black border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-black dark:placeholder-gray-300 dark:text-white" placeholder="Busca...">
      </div>
    </div>
  </form>
  </div>
    <div class="flex items-center justify-end w-auto order-2">
      <ul class="flex flex-row space-x-5 p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a (click)="refresh()" routerLink="/" routerLinkActive="!text-gray-950 dark:!text-blue-500" [routerLinkActiveOptions]="{exact: true}" class="block py-2 px-3 text-gray-500 rounded-sm md:bg-transparent md:hover:text-gray-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Inicio</a>
        </li>
        <li>
          <button class="relative" routerLink="/cart">
            <svg routerLinkActive="text-gray-950 dark:text-blue-500" [routerLinkActiveOptions]="{exact: true}"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 17h-11v-14h-2" />
              <path d="M6 5l14 1l-1 7h-13" />
            </svg>

            @if (cartState.count() > 0) {
              <span
                class="absolute bg-green-600 text-white size-6 rounded-full flex items-center justify-center -right-3"
                >{{ cartState.count() }}</span
              >
            }
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>